@use '../setup/variables' as *;

.sidebar {
    width: 230px;
    height: 100%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;

    .logo {
     display: none;
     width: 30px;
     height: 30px;
     background-color: #22b07d;
     color: #fff;
     align-items: center;
     border-radius: 50%;
     justify-content: center;
     
   
     &-expand {
      text-decoration: none;
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      line-height: 34px;
      position: sticky;
      width: 4.40344rem;
      height: 1.2965rem;
      margin-block: 20px;
      top: 0;


      &:before {
       content: "";
       position: absolute;
       top: -30px;
       left: 0;
       background: var(--theme-bg);
       width: 200px;
       height: 70px;
       z-index: -1;
      }
    }
  }
  &-link {
    &:hover,
    &.is-active {
      color: $bg-color;
      background-color: $primary-color;
      width: 192px;
      height: 47px;
      padding: 8px;
      border-radius: 10px;
      font-weight: 600;
      position: relative;
      
      
      
      &::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        width: 5px;
        background-color: inherit;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.5s ease;
      }
      
      &.is-active::before {
        transform: scaleY(1);
      }
      
      &:nth-child(2n + 1) {
        svg {
          background: $primary-color;
        }
      }
      &:nth-child(2n) {
        svg {
          background: $primary-color;
        }
      }
    }
  }
  &.collapse {
     width: 90px;
     border-right: 1px solid var(--border-color);
     .logo-expand,
     .side-title {
      display: none;
     }
     .logo {
      display: flex;
      
     }
     .side-wrapper {
      width: 30px;
     }
     .side-menu svg {
      margin-right: 30px;
     }
    }
   }
   

   @keyframes bottom {
    0% {
     transform: translateY(100px);
     opacity: 0;
    }
   
    100% {
     opacity: 1;
     transform: none;
    }
   }
   

   .side-menu {
    display: flex;
    flex-direction: column;
    a {
     display: flex;
     align-items: center;
     text-decoration: none;
     color: $text-color;
     flex-wrap: nowrap;
     font-size: 14px;
     & + a {
      margin-top: 26px;
     }
    }
    svg {
     width: 30px;
     padding: 4px;
     border-radius: 10px;
     margin-right: 16px;
     &:hover {
      // color: #fff;
      fill: #fff;
     }
    }
   }


   .side-title {
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-bottom: 24px;

   }
   
   .side-wrapper {
    border-bottom: 1px solid var(--border-color);
    padding: 36px 0;
    width: 145px;
    & + & {
     border-bottom: none;
    }
   }
   