.profile-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-inline-end: 2rem;


    
    .profile-card {
        position: relative;
        background: #fff;
        border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    height: 15.25rem;
    width: 21.5333rem;
}

.menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.profile-title {
    color: #d2ac47;
    margin: 0.3rem 0;
}

.profile-email {
    color: #777;
    font-size: 0.9rem;
}

}

  
  .add-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    height: 15.25rem;
    width: 21.5333rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
  }
  
  .add-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* Add space between the icon and text */
  }
  
  .add-icon-container::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #d2ac47; /* Yellow background */
    border-radius: 50%;
    z-index: 1;
  }
  
  .add-icon {
    font-size: 2.5rem;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  
  .add-text {
    font-size: 1rem;
    color: #D2AC47;
    margin: 0;
    text-align: center;
  }
  
  .popup-menu {
    position: absolute;
    top: 2rem;
    right: 1.2rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    // width: 13rem;
    // height: 4rem;
    padding: 0.5rem 1rem;
  }
  
  .popup-button {
    display: block;
    background: none;
    border: none;
    color: #333;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 6px;
  }
  
  .popup-button:hover {
    background-color: #f0f0f0;
  }