.settings-container {
    padding: 2rem;
    background-color: #F3F4F8;
    height: 100vh;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  
  .settings-content {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .left-section,
  .right-section {
    flex: 1;
  }
  
  .separator {
    width: 2px;
    background-color: #ccc;
    margin: 0 1rem;
  }
  .personal-details,
  .login-details {
    margin-top: 2rem;
    font-family: "MabryPro regular";
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .profile-picture-container {
    display: flex;
    align-items: center;
  }
  
  .profile-pix {
    border-radius: 50%;
    border: 5px solid black;
  }
  
  .profile-actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  
  .upload-photo,
  .remove-photo {
    margin: 0.5rem 0;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  

  .upload-photo {
    border-radius: 6.25rem;
    border: 1px solid #E4E4E7;
    padding: 0.625rem 1.25rem;
    background-color: transparent;
  }


  .remove-photo {
    color: #FA4545;
    background: transparent;
    padding: 0.625rem 1.25rem;
    // border-radius: 1rem;
  }
  
  
  .change-password {
    display: flex;
    align-items: center;
    gap: 3.65rem;
    border: none;
    background: #FAFAFA;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .right-section form {
    display: flex;
    flex-direction: column;
  }
  
  .right-section form label {
    margin-bottom: 0.5rem;
  }
  
  .right-section form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .save-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
  
  .save-changes {
    background-color: #d2ac47;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  