
/* Basics */
@use 'basics/base';
@use 'basics/helper';

/* Setup */
@use 'setup/variables' as *;
@use 'setup/mixins' as mixins;
@use './setup/responsive' as responsive;

@import 'basics/layouts';
@import 'components/sidebar';
@import 'setup/text';
@import 'components/wrapper.scss';
@import 'components/user.scss';
@import 'components/inbox.scss';
@import 'components/management.scss';
@import 'components/modal.scss';
@import 'components/settings.scss';
@import 'components/auth.scss';
@import 'components/loader.scss';


.wrapper-container {
    padding: 0.2rem 2rem;
    background-color: #F3F4F8;
    height: 100vh;
    border-radius: 1rem;
    box-sizing: border-box;
}

p, input, button {
    font-family: "MabryPro regular";
}


h1,h2, h3 {
    font-family: "MabryPro bold";
}



