@use '../setup/fonts.scss';
@import '../setup/variables';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

body {
    // font-size: 22px;
    font-family: 'Mabry Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: $bg-color;
    color: #9e72c3;
    // padding: 1em 2em;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &:before {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(
      163deg,
      rgba(31, 29, 43, 1) 21%,
      rgba(31, 29, 43, 0.3113620448179272) 64%
     );
     opacity: 0.4;
     content: "";
    }
}

p {
    line-height: 1.5;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    line-height: 1.5;
    margin: 0;
    font-family: var(ff-Mabry-Pro);
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: var(--font-Amatic_SC);
    background-color: #b088ac;
    border: 1.5px solid #502f4c;
    border-radius: 10px;
    padding: 9px 20px;
    color: #502f4c;
    height: fit-content;
    transition: background-color .5s;


    &:hover {
        background-color: #502f4c;
        color: #b088ac;
        border: 1.5px solid #b088ac;
        transition: background-color .5s;
    }

}

input::placeholder {
    font-family: var(--font-Amatic_SC);
    font-size: 22px;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}

input,
select,
textarea {
    font-size: 22px;
    background-color: #3e3061;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

label {
    p {
        font-size: 18px;
    }
}


.container {
    background-color: $bg-color;
    // max-width: 1240px;
    // max-height: 900px;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    // font-size: 16px;
    // font-weight: 500;
    // box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    position: relative;
   }
   