@use '../setup/responsive' as responsive;
@use '../setup/mixins' as mixins;
@import '../setup/variables';

@include responsive.responsive-options('d') {

    &-flex {
        display: flex;

        @include mixins.for-mobile-layout {
            display: block; // Example override for mobile
        }
    }

    &-inline {
        display: inline;
    }

    &-block {
        display: block;
    }

    &-inline-flex {
        display: inline-flex;
    }
    &-flex-1 {
        flex: 1;
    }
    &-flex-2 {
        flex: 2;
    }
    &-flex-5 {
        flex: 5;
    }
}

@include responsive.responsive-options('flex'){

    &-column {
        flex-direction: column;
    }

    &-row-reverse{
        flex-direction: row-reverse;
    }
    &-row {
        flex-direction: row;
    }
    &-column-reverse{
        flex-direction: column-reverse;
    }

}

@include responsive.responsive-options('justify'){

    &-center {
        justify-content: center;

        @include mixins.for-mobile-layout {
            justify-content: flex-start;
        }
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    
}

@include responsive.responsive-options('align'){

&-center {
    align-items: center;
}

&-end {
    align-items: flex-end;
}

&-start {
    align-items: flex-start;
}

}


@include responsive.responsive-options('my'){

    &-0 {
        margin-block: 0;
    }

    &-1 {
        margin-block: 1rem;
    }

    &-2{
        margin-block: 2rem;
    }
    &-3{
        margin-block: 3rem;
    }
    &-4{
        margin-block: 4rem;
    }

    &-auto{
        margin-block: auto;
    }

}



@include responsive.responsive-options('mx'){

    &-0 {
        margin-inline: 0;
    }

    &-1 {
        margin-inline: 1rem;
    }

    &-2{
        margin-inline: 2rem;
    }
    &-3{
        margin-inline: 3rem;
    }
    &-4{
        margin-inline: 4rem;
    }

    &-auto{
        margin-inline: auto;
    }

}


@include responsive.responsive-options('mr'){

    &-0 {
        margin-inline-end: 0;
    }

    &-1 {
        margin-inline-end: 1rem;
    }

    &-2{
        margin-inline-end: 2rem;
    }
    &-3{
        margin-inline-end: 3rem;
    }
    &-4{
        margin-inline-end: 4rem;
    }

    &-auto{
        margin-inline-end: auto;
    }

}


@include responsive.responsive-options('ml'){

    &-0 {
        margin-inline-start: 0;
    }

    &-1 {
        margin-inline-start: 1rem;
    }

    &-2{
        margin-inline-start: 2rem;
    }

    &-3{
        margin-inline-start: 3rem;
    }

    &-4{
        margin-inline-start: 4rem;
    }

    &-auto{
        margin-inline-start: auto;
    }

}


@include responsive.responsive-options('mt'){
    
    &-0 {
        margin-block-start: 0;
    }

    &-1 {
        margin-block-start: 1rem;
    }

    &-2{
        margin-block-start: 2rem;
    }
    &-3{
        margin-block-start: 3rem;
    }
    &-4{
        margin-block-start: 4rem;
    }

    &-auto{
        margin-block-start: auto;
    }

}


@include responsive.responsive-options('mb'){
   
    &-0 {
        margin-block-end: 0;
    }
    &-1 {
        margin-block-end: 1rem;
    }

    &-2{
        margin-block-end: 2rem;
    }
    &-3{
        margin-block-end: 3rem;
    }
    &-4{
        margin-block-end: 4rem;
    }

    &-auto{
        margin-block-end: auto;
    }

}


@include responsive.responsive-options('py'){

    &-1 {
        padding-block: 1rem;
    }

    &-2{
        padding-block: 2rem;
    }
    &-3{
        padding-block: 3rem;
    }
    &-4{
        padding-block: 4rem;
    }

    &-auto{
        padding-block: auto;
    }

}

@include responsive.responsive-options('p'){

    &-1 {
        padding: 1rem;
    }

    &-2{
        padding: 2rem;
    }
    &-3{
        padding: 3rem;
    }
    &-4{
        padding: 4rem;
    }

    &-auto{
        padding: auto;
    }

}


@include responsive.responsive-options('px'){

    &-1 {
        padding-inline: 1rem;
    }

    &-2{
        padding-inline: 2rem;
    }
    &-3{
        padding-inline: 3rem;
    }
    &-4{
        padding-inline: 4rem;
    }

    &-auto{
        padding-inline: auto;
    }

}



@include responsive.responsive-options('pb'){

    &-1 {
        padding-block-end: 1rem;
    }

    &-2{
        padding-block-end: 2rem;
    }
    &-3{
        padding-block-end: 3rem;
    }
    &-4{
        padding-block-end: 4rem;
    }

    &-auto{
        padding-block-end: auto;
    }

}


@include responsive.responsive-options('pt'){

    &-1 {
        padding-block-start: 1rem;
    }

    &-2{
        padding-block-start: 2rem;
    }
    &-3{
        padding-block-start: 3rem;
    }
    &-4{
        padding-block-start: 4rem;
    }

    &-auto{
        padding-block-start: auto;
    }

}


@include responsive.responsive-options ('pr'){

    &-1 {
        padding-inline-end: 1rem;
    }

    &-2{
        padding-inline-end: 2rem;
    }
    &-3{
        padding-inline-end: 3rem;
    }
    &-4{
        padding-inline-end: 4rem;
    }

    &-auto{
        padding-inline-end: auto;
    }

}



@include responsive.responsive-options ('pl'){

    &-1 {
        padding-inline-start: 1rem;
    }

    &-2{
        padding-inline-start: 2rem;
    }
    &-3{
        padding-inline-start: 3rem;
    }
    &-4{
        padding-inline-start: 4rem;
    }

    &-auto{
        padding-inline-start: auto;
    }

}

@include responsive.responsive-options ('gap'){

    &-0-5 {
        gap: 0.5rem;
    }
    &-1 {
        gap: 1rem;
    }

    &-2{
        gap: 2rem;
    }
    &-3{
        gap: 3rem;
    }
    &-4{
        gap: 4rem;
    }
    &-5{
        gap: 5rem;
    }
    &-auto{
        gap: auto;
    }

}