@use '../setup/responsive' as responsive;
@use '../setup/mixins' as mixins;
@import '../setup/variables';

@include responsive.responsive-options('d') {

    &-flex {
        display: flex;

        @include mixins.for-mobile-layout {
            display: block; // Example override for mobile
        }
    }

    &-inline {
        display: inline;
    }

    &-block {
        display: block;
    }

    &-inline-flex {
        display: inline-flex;
    }
}

@include responsive.responsive-options('flex'){

    &-column {
        flex-direction: column;
    }

    &-row-reverse{
        flex-direction: row-reverse;
    }
    &-row {
        flex-direction: row;
    }
    &-column-reverse{
        flex-direction: column-reverse;
    }

}

@include responsive.responsive-options('justify'){

    &-center {
        justify-content: center;

        @include mixins.for-mobile-layout {
            justify-content: flex-start;
        }
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    
}

@include responsive.responsive-options('align'){
    
&-center {
    align-items: center;
}

&-end {
    align-items: flex-end;
}

&-start {
    align-items: flex-start;
}

}
