

@use '../setup/mixins' as mixins;
@use '../setup/variables' as *;

.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    @media (min-width: $mainLayoutWide) {
        grid-template-columns: 1fr $mainLayoutWide 1fr;

        > * {
            grid-column: 2;
        }
    
        > *.full {
            grid-column: 1 / -1;
        }
    }
}
