// @use '../setup/mixins' as mixins;


// .main-layout {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: auto 1fr auto;

//     @media (min-width: 1400px) {
//         display: grid;
//         grid-template-columns: 1fr 1400px 1fr;

//         >* {
//             grid-column: 2;
//         }
    
//         >*.full {
//             grid-column: 1 / -1;
//         }
//     }
// }






@use '../setup/mixins' as mixins;
@use '../setup/variables' as *;

.main-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    @media (min-width: $mainLayoutWide) {
        grid-template-columns: 1fr $mainLayoutWide 1fr;

        > * {
            grid-column: 2;
        }
    
        > *.full {
            grid-column: 1 / -1;
        }
    }
}

// Responsive display utilities
// @include mixins.responsive-options('d') {

//     &-flex {
//         display: flex;
//         @include mixins.for-mobile-layout {
//             display: block; // Example for mobile override
//         }
//     }

//     &-inline {
//         display: inline;
//     }

//     &-block {
//         display: block;
//     }

//     &-inline-flex {
//         display: inline-flex;
//     }
// }

// Flexbox direction utilities
// @include mixins.responsive-options('flex') {
//     &-column {
//         flex-direction: column;
//     }

//     &-row {
//         flex-direction: row;
//     }

//     &-row-reverse {
//         flex-direction: row-reverse;
//     }

//     &-column-reverse {
//         flex-direction: column-reverse;
//     }
// }

// // Justify content utilities
// @include mixins.responsive-options('justify') {
//     &-center {
//         justify-content: center;
//         @include mixins.for-mobile-layout {
//             justify-content: flex-start;
//         }
//     }

//     &-between {
//         justify-content: space-between;
//     }

//     &-around {
//         justify-content: space-around;
//     }
// }

// Align items utilities
// @include mixins.responsive-options('align') {
//     &-center {
//         align-items: center;
//     }

//     &-start {
//         align-items: flex-start;
//     }

//     &-end {
//         align-items: flex-end;
//     }
// }
